html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

/* Navigation */

.navbar ul {
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.navbar a {
  background: white;
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: darkslategray;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: black;
}

.navbar a:hover {
  background: rgb(0, 255, 0);
  color: black;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 30px;
  background-image: url(/img/showcase.jpg)
}

div.img {
  display: flex;
  justify-content: center;
}

.img1 {
  max-height: 400px;
}

.boxes {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.box {
  text-align: center;
  padding: 1.5rem 2rem;
}